/* .homepage-top {
    display: flex;
    justify-content: space-between;
}

.homepage-top-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff2f2;
    flex-direction: column;
    
}
.homepage-top-text {
    width: 80%;
    font-family: "Schibsted Grotesk", sans-serif;
}

.htt-text1{
    font-size: 3.7vw;
}

.homepage-top-img{
    max-width: 45%;
    background-color: #fff2f2;
} */

.homepage-top{
    display:flex;
    justify-content: space-between;
    background-color: #ffeceb;
}

.top-left-text{
    padding:10%;
}
.htt-text1{
    font-size: 4vw;
}
.top-left-text-2{
    padding-top:10px;
}

.htt-text2{
    font-size: 1.3vw;
}
.homepage-top-right{
    max-width: 45%;
}
.homepage-top-img{
    max-width: 100%;
    float:right;
}